<div class="about">

    <div class="histoire">
        <span class="title">Nos Règles</span>
        <div class="histoire-text">
            <div class="histoire-text-left">
                bla blaBLAbla blaBLAbla blaBLAbla blaBLAbla blaBLAbla blaBLAbla blaBLAbla blaBLAbla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla bla
            </div>
            <div class="histoire-text-right">
                <span>blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA </span>
                <span>bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA bla blaBLA </span>
            </div>
        </div>
    </div>
    <div class="bloc-mots">
        <span class="bloc-mots-title">L'amicale Footbal Rennes, en bref ... </span>
        
        
        <div class="mots">
            <img src="../../../assets/img/rules/far-play.jpeg" alt="">
            <div class="mot">
                <span> À l'AFR nous favorisons un esprit d'équipe, d'entente mutuelle et de cohésion . Toutefois, pour des raisons purement sportives nous mettons un accent sur la combativité et l'encouragement mutuel. </span>
            </div>
        </div>

        <div class="mots-reverse">
            <img src="../../../assets/img/retard.jpeg" alt="">
            <div class="mot">
                <span>Si tu arrives et on a déjà commencé à jouer, c'est que tu es en retard. Ne désespère pas, ce n'est peut être pas grave, il y a encore de l'espoir :</span>
                <ul>
                    <li>si on n'est pas complet c'est bon tu joues</li>
                    <li>si on l'est, nous te souhaitons d'apprécier le match depuis le banc de touche en espérant un remplacement, sans oublier des applaudissements et le sourire</li>
                </ul>
            </div>
        </div>

        <div class="mots">
            <img src="../../../assets/img/coach-fou.jpeg">
            <div class="mot">
                <span>Tu perds trop de ballons ? C'est pas grave . On le voit, on te remplace ou tu tournes au but . </span>
                <span>Tu pourras peut être rentrer de nouveau après ou jamais</span>
            </div>
        </div>

        <div class="mots-reverse">
            <img src="../../../assets/img/tacle.jpeg">
            <div class="mot">
                <span>Si le balon passe, l'attaquant ne passe pas !</span>
                <span>Jamais !!! Jamais !!!</span>
            </div>
        </div>

        <div class="mots">
            <img src="../../../assets/img/goal-keeper.jpeg">
            <div class="mot">
                <span>T'as plus de cardio ? Ça tourne dans les buts .</span>
            </div>
        </div>

        <div class="mots-reverse">
            <img src="../../../assets/img/rules/jubile-but-not-to-much.png" alt="">
            <div class="mot">
                <span>Bon pas de conneries !</span>
                <span>On peut célébrer les buts c'est vrai, mais pas de si près quand même</span>
            </div>
        </div>

        <div class="mots">
            <img src="../../../assets/img/rules/cry.jpeg">
            <div class="mot">
                <span>Contrairement à cette image, nous on se moque toujours des perdants .</span>
                <span>Vous savez donc que vous ne devez pas perdre .</span>
            </div>
        </div>

        <div class="mots-reverse">
            <img src="../../../assets/img/rules/cry-on-chair.jpeg">
            <div class="mot">
                <span>De tout ce qui a été dit s'il y a une chose à retenir, une seule ...</span>
                <span>C'est qu'il ne faut pas être en retard, sinon <strong>banc de touche !!</strong></span>
            </div>
        </div>

        
    </div>

</div>