footer{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        padding: 20px 7%;
        width: 100%;
    
}

span{
    padding: 5px 0;
    color: white;
}

span:nth-child(1){
    border-bottom: 1px solid white;
    color: rgb(16, 75, 109);
}
