<div class="accueil">


  <div class="slider" id="accueil">

    <div class="mySlide fadeHeader slide1">
        <div class="slider-text">
            <h1>Des Plats Exotiques</h1>
            <p>Venez découvrir des plats typiques du Sénégal comme :</p>
            <p>le poisson Capitaine ou Baracouda grillé, le Soupoukandja (boeuf sauce gombo), le Mafé (boeuf sauce arachide), le Tiéboudjène, riz au poisson  plat national du Sénégal</p>
        </div>
    </div>

    <div class="mySlide fadeHeader slide2">
        <div class="slider-text">
            <h1>Un Accueil Chaleureux</h1>
            <p>Le Casa Breizh vous réserve un accueil des plus convivial dans un cadre agréable et dépaysant. Du mardi au samedi, le matin comme le soir</p>
         </div>
    </div>

    <div class="mySlide fadeHeader slide3">
        <div class="slider-text">
            <h1>Une Cuisine Originale</h1>
            <span>Abracadabra</span>
         </div>
    </div>

    <span class="prev" (click)="clickOnArrow(-1)">&#10094;</span>
    <span class="next" (click)="clickOnArrow(1)">&#10095;</span>

    <div class="dots">
        <span class="dot" (click)="currentSlide(1)"></span> 
        <span class="dot" (click)="currentSlide(2)"></span> 
        <span class="dot" (click)="currentSlide(3)"></span> 
    </div>

</div>


<div class="who-are-we">
  <span class="who-title"> QUI SOMMES NOUS</span>

  <div class="who-content">
    <img class="who-image" src="../../../assets/img/about/ball-pelouse.png">
    <span class="who-text"> 
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero deleniti saepe mollitia, repellat at architecto recusandae culpa! Earum consequuntur aperiam ad iusto molestias. Officiis, harum excepturi explicabo commodi eveniet officia.
      Excepturi adipisci,  adipisci laborum debitis quis quidem perferendis omnis quos, dignissimos voluptatem molestias. Molestias laborum perferendis, beatae excepturi, iste doloribus iure voluptates quisquam nulla corrupti accusantium? Fuga, maxime.
    </span>
  </div>
</div>

<div class="deroulement">
  <span class="deroulement-title">DÉROULEMENT</span>
  <span class="deroulemenent-explanation"> 
    Lorem ipsum . Doloribus eveniet magnam, molestiae vel odit dolores aspernatur a quam nulla, ab itaque, adipisci optio amet ducimus facere assumenda iure expedita! Totam!
    Nostrum  modi nulla voluptatibus ab eaque minima sapiente laboriosam? Magni rem quis voluptas perferendis! Qui vel voluptate iusto. modi nulla voluptatibus ab eaque minima sapiente laboriosam?
  </span>

  <div class="deroulement-places-online">

    <span>Lieux de match</span>

    <div class="places">
      <div>
        <img src="../../../assets/img/about/stadium-icon.png" alt="stadium icon">
        <span>Stade de Beaulieu</span>
        <span>3 rue de penda, 35699 Rennes</span>
      </div>

      <div>
        <img src="../../../assets/img/about/stadium-icon.png" alt="stadium icon">
        <span>Stade des Gayeulles</span>
        <span>19 rue de makaya,35790 Rennes</span>
      </div>

  
    </div>


    <div class="online">
      <span>Prochain match: </span> 
      <span></span>
      <span>Beaulieu, 12 Novenbre à 16h00</span>
    </div>

    
  </div>
  
</div>




  <div class="classic-day">
    <div class="video-text">
      <span class="title">Un jour de match classique à l'AFR</span>
      <ul>
        <li>Lieu: Stade des Gayeulles</li>
        <li>Heure début: 18h30</li>
        <li>Jour: Samedi</li>
      </ul>
    </div>
    <div class="video">
      video goes here
    </div>
  </div>
</div>

