<div class="joueurs">
    <h1 class="title">LISTE DES JOUEURS</h1>


<div class="terrain">


    <div class="attaquants">
        <span class="sub-title">Attaquants ( 9 )</span>
        
        <div class="bloc-photo">

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Emma</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img3.jpg">
                <span class="nom"> Divergeant</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img2.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Salifou</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>


            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

        </div>
    </div>


    <div class="milieus">
        <span class="sub-title">Milieus ( 10 )</span>
        <div class="bloc-photo">
            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Emma</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img3.jpg">
                <span class="nom"> Divergeant</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img2.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Salifou</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>


            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>


            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>


            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>
        </div>
    </div>


    <div class="defenseurs">
        <span class="sub-title">Défenseurs ( 7 )</span>
        <div class="bloc-photo">
<div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Emma</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img3.jpg">
                <span class="nom"> Divergeant</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img2.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>

            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Salifou</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/img4.jpg">
                <span class="nom"> Donald</span>
                <span class="stats"> Statistiques</span>
            </div>

        </div>
    </div>


    <div class="gardiens">
        <span class="sub-title">Gardiens ( 3 )</span>
        <div class="bloc-photo">
            <div class="bloc">
                <img src="../../../assets/img/neue.jpeg">
                <span class="nom"> Neur</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/van.jpeg">
                <span class="nom"> Van Der Saar</span>
                <span class="stats"> Statistiques</span>
            </div>

            <div class="bloc">
                <img src="../../../assets/img/oliver.jpeg">
                <span class="nom"> Oliver Khan</span>
                <span class="stats"> Statistiques</span>
            </div>
        </div>
    </div>
</div>
    <div class="join-bloc">
        <span class="join">Vous voulez nous rejoindre ? Rien de plus simple</span>
        <span class="join-clicked">Rejoindre la team</span>
    </div>
</div>
